/* Priority Ribbon */
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 8px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
}

/* Top Right Ribbon */
.ribbon-top-right {
    top: -10px;
    right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

.ribbon-top-right::before {
    top: 0;
    left: 0;
}

.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}

.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}

/* Kanban Card Styling */
.o_kanban_card {
    position: relative;
}

/* State Colors in Kanban */
.oe_kanban_column[data-id="new"] .oe_kanban_card {
    border-left: 3px solid #17a2b8;
}

.oe_kanban_column[data-id="waiting"] .oe_kanban_card {
    border-left: 3px solid #ffc107;
}

.oe_kanban_column[data-id="consultation"] .oe_kanban_card {
    border-left: 3px solid #007bff;
}

.oe_kanban_column[data-id="done"] .oe_kanban_card {
    border-left: 3px solid #28a745;
}

.oe_kanban_column[data-id="cancel"] .oe_kanban_card {
    border-left: 3px solid #dc3545;
    opacity: 0.7;
}